/* BEBAS NEUE */
@font-face {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/bebas-neue-v9-latin-regular.woff2") format("woff2"), url("../fonts/bebas-neue-v9-latin-regular.woff") format("woff");
}
/* ROBOTO REGULAR */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin-regular.woff") format("woff");
}
/* ROBOTO MEDIUM */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-v30-latin-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin-500.woff") format("woff");
}
/* ROBOTO BOLD */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/roboto-v30-latin-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin-700.woff") format("woff");
}
/* RUBIK BOLD */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/rubik-v23-latin-700.woff2") format("woff2"), url("../fonts/rubik-v23-latin-700.woff") format("woff");
}
/* BLOCKS */
/* GLOBAL */
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed #000;
  outline-offset: 3px;
}

a {
  text-decoration: none;
  display: flex;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
  transition: font-size 0.4s ease;
}
@media only screen and (max-width: 992px) {
  body {
    font-size: 17px;
  }
}
@media only screen and (max-width: 576px) {
  body {
    font-size: 16px;
  }
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* SCROLL BAR */
@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 12px;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-track {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

@media only screen and (min-width: 768px) {
  ::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

.logo {
  width: 180px;
  height: 53px;
  transition: opacity 0.4s ease;
}
.logo:hover {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}

.sitenav__list {
  display: flex;
  align-items: center;
}
.sitenav__item:not(:last-child) {
  margin-right: 32px;
}
.sitenav__link {
  font-family: "Bebas Neue";
  color: #000;
  font-size: 24px;
  transition: opacity 0.4s ease;
}
.sitenav__link--footer {
  color: #fff;
}
.sitenav__link:hover {
  opacity: 0.8;
}
.sitenav__link:active {
  opacity: 0.6;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  padding: 12px 24px;
  font-weight: 400;
  font-family: "Bebas Neue";
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
@media only screen and (max-width: 992px) {
  .button {
    padding: 8px 16px;
  }
}
@media only screen and (max-width: 768px) {
  .button {
    padding: 7px 14px;
  }
}

/* RETINA DISPLAY */
.site-header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  background-color: #fff;
  padding: 15px 0;
}
@media only screen and (max-width: 768px) {
  .site-header {
    position: static;
    z-index: auto;
    padding: 10px 0;
  }
}
.site-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .site-header__container {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .site-header .sitenav {
    display: none;
  }
}

.hero {
  background: url(../../images/registan.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 300px;
  text-align: center;
  transition: height 0.4s ease, padding 0.4s ease;
}
@media only screen and (max-width: 576px) {
  .hero {
    height: 100vh;
    background-position: center top;
  }
}
.hero__heading {
  font-family: "Rubik";
  font-size: 76px;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
  text-shadow: -1px -1px 35px #000, -1px -1px 35px #000;
  transition: font-size 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .hero__heading {
    font-size: 54px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__heading {
    font-size: 44px;
  }
}
@media only screen and (max-width: 576px) {
  .hero__heading {
    font-size: 34px;
  }
}
.hero__heading span {
  color: #15c521;
}
.hero__link {
  color: #fff;
  background-color: transparent;
  font-size: 24px;
  border-radius: 50px;
  box-shadow: -1px -1px 35px #000;
  transition: color 0.4s ease, background-color 0.4s ease;
  border: 1px solid #fff;
}
@media only screen and (max-width: 992px) {
  .hero__link {
    font-size: 20px;
  }
}
.hero__link:hover {
  color: #15c521;
  background-color: #fff;
}

.news {
  padding: 30px 0;
}
.news__heading {
  font-family: "Bebas Neue";
  font-size: 44px;
  margin-bottom: 12px;
  transition: font-size 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .news__heading {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .news__heading {
    font-size: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .news__heading {
    font-size: 28px;
  }
}
.news__list {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .news__list {
    flex-direction: column;
  }
}
.news__item {
  border: 2px solid #999;
  border-radius: 10px;
  padding: 20px;
}
@media only screen and (max-width: 992px) {
  .news__item {
    padding: 15px;
    border-width: 1px;
  }
}
@media only screen and (max-width: 768px) {
  .news__item {
    padding: 20px;
  }
}
@media only screen and (max-width: 576px) {
  .news__item {
    padding: 10px;
  }
}
.news__item:not(:last-child) {
  margin-right: 16px;
}
@media only screen and (max-width: 768px) {
  .news__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.news__card {
  max-width: 400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: max-width 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .news__card {
    max-width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .news__card {
    max-width: none;
  }
}
.news .card-news__image {
  margin-bottom: 6px;
}
.news .card-news__img {
  width: 100%;
  height: auto;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: max-width 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .news .card-news__img {
    max-height: 100px;
  }
}
@media only screen and (max-width: 768px) {
  .news .card-news__img {
    max-width: none;
    max-height: 200px;
  }
}
.news .card-news__title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 12px;
  font-family: "Bebas Neue";
}
@media only screen and (max-width: 992px) {
  .news .card-news__title {
    font-size: 20px;
    margin-bottom: 6px;
  }
}
.news .card-news__text {
  text-align: justify;
  margin-bottom: 20px;
}
@media only screen and (max-width: 992px) {
  .news .card-news__text {
    margin-bottom: 15px;
  }
}
.news .card-news__link {
  color: #fff;
  background-color: #ff7500;
  margin-top: auto;
  font-size: 20px;
  border-radius: 10px;
  margin-right: auto;
  transition: opacity 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .news .card-news__link {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  .news .card-news__link {
    font-size: 16px;
  }
}
@media only screen and (max-width: 576px) {
  .news .card-news__link {
    margin: 0 auto;
  }
}
.news .card-news__link:hover {
  opacity: 0.8;
}
.news .card-news__link:active {
  opacity: 0.6;
}

.ads-video {
  background-image: url(../../images/bukhara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0 170px;
  transition: height 0.4s ease, padding 0.4s ease;
}
@media only screen and (max-width: 576px) {
  .ads-video {
    height: 100vh;
    background-position: center top;
    padding: 300px 0;
  }
}
.ads-video__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads-video__video {
  max-width: 640px;
  max-height: 350px;
  width: 100%;
  height: auto;
}

.regions {
  padding: 30px 0;
}
.regions__heading {
  font-size: 44px;
  font-family: "Bebas Neue", sans-serif;
  margin-bottom: 32px;
  transition: font-size 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .regions__heading {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .regions__heading {
    font-size: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .regions__heading {
    font-size: 28px;
    margin-bottom: 24px;
  }
}
.regions__lists {
  display: flex;
  justify-content: space-between;
  font-family: "Bebas Neue", sans-serif;
  font-size: 28px;
  margin-bottom: 40px;
}
.regions__item:not(:last-child) {
  margin-bottom: 5px;
}
.regions__link {
  color: #000;
  transition: opacity 0.4s ease;
}
.regions__link--footer {
  color: #fff;
}
.regions__link:hover {
  opacity: 0.8;
}
.regions__link:active {
  opacity: 0.6;
}
.regions__image {
  max-width: 590px;
  max-height: 391px;
  margin: 0 auto;
}
.regions__img {
  width: 100%;
  height: 100%;
}

.statistics {
  background-image: url(../../images/tashkent.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 230px 0;
  font-family: "Bebas Neue", sans-serif;
  transition: height 0.4s ease, padding 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .statistics {
    padding: 150px 0;
  }
}
@media only screen and (max-width: 576px) {
  .statistics {
    height: 100vh;
    background-position: center top;
    padding: 100px 0;
  }
}
.statistics__heading {
  letter-spacing: 2px;
  font-size: 44px;
  transform: translateY(-170px);
  color: #222;
  text-shadow: -1px -1px 35px #fff;
  transition: font-size 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .statistics__heading {
    font-size: 40px;
    transform: translateY(-130px);
  }
}
@media only screen and (max-width: 768px) {
  .statistics__heading {
    font-size: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__heading {
    font-size: 28px;
    transform: translateY(0);
    margin-bottom: 30px;
  }
}
.statistics__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .statistics__list {
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 576px) {
  .statistics__list {
    width: auto;
    margin: 0 auto;
  }
}
.statistics__item {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .statistics__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.statistics__item--population::before {
  background: url(../../images/population.png);
}
.statistics__item--gdp::before {
  background: url(../../images/gdp.png);
}
.statistics__item--industry::before {
  background: url(../../images/industry.png);
}
.statistics__item::before {
  content: "";
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 90px;
  height: 90px;
  margin-right: 14px;
}
.statistics__title {
  font-size: 28px;
}
@media only screen and (max-width: 992px) {
  .statistics__title {
    text-shadow: -1px -1px 35px #fff, -1px -1px 35px #fff;
  }
}
.statistics__text {
  font-size: 24px;
}
@media only screen and (max-width: 992px) {
  .statistics__text {
    text-shadow: -1px -1px 35px #fff, -1px -1px 35px #fff;
  }
}

.socials {
  padding: 35px 0;
  text-align: center;
}
.socials__heading {
  font-size: 44px;
  font-family: "Bebas Neue";
  margin-bottom: 24px;
  transition: font-size 0.4s ease;
}
@media only screen and (max-width: 992px) {
  .socials__heading {
    font-size: 40px;
  }
}
@media only screen and (max-width: 768px) {
  .socials__heading {
    font-size: 32px;
  }
}
@media only screen and (max-width: 576px) {
  .socials__heading {
    font-size: 28px;
  }
}
.socials-icons {
  display: flex;
  justify-content: center;
}
.socials .icon-socials {
  color: #000;
  transition: opacity 0.4s ease, color 0.4s ease;
}
.socials .icon-socials:not(:last-child) {
  margin-right: 16px;
}
.socials .icon-socials:hover {
  opacity: 0.8;
  color: #ff7500;
}
.socials .icon-socials:active {
  opacity: 0.6;
}
.socials .icon-socials:focus {
  color: #ff7500;
}
.socials .icon-socials svg {
  width: 54px;
  height: 54px;
  transition: width 0.4s ease;
}
@media only screen and (max-width: 768px) {
  .socials .icon-socials svg {
    width: 44px;
    height: 44px;
  }
}
@media only screen and (max-width: 576px) {
  .socials .icon-socials svg {
    width: 34px;
    height: 34px;
  }
}

.site-footer {
  padding: 40px 0;
  background-color: #222;
}
.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .site-footer__container {
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}
.site-footer__copyright {
  font-size: 24px;
  color: #fff;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.site-footer__copyright a {
  margin-left: 5px;
  color: #ff7500;
}
@media only screen and (max-width: 576px) {
  .site-footer .sitenav__list {
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .site-footer .sitenav__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */