// COLORS
$primary-text-color: #000;
$secondary-text-color: #fff;
$orange-text-color: #ff7500;
$special-text-color: #15c521;
$primary-bg-color: #222;
$secondary-bg-color: #fff;
$special-bg-color: #999;

// BREAKPOINTS
$desktop: 1440px;
$tablet-l: 992px;
$tablet: 768px;
$mobile: 576px;
