/* ADS-VIDEO */
.ads-video {
  background: url("../images/bukhara.jpg") no-repeat center / cover fixed;
  height: calc(100vh - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.4s ease, padding 0.4s ease;

  @media only screen and (max-width: $tablet) {
    height: 100vh;
    background-position: center top;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
