.ads-video {
  background-image: url(../../images/bukhara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0 170px;

  @media only screen and (max-width: $mobile) {
    height: 100vh;
    background-position: center top;
    padding: 300px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__video {
    max-width: 640px;
    max-height: 350px;
    object-fit: cover;
  }
}
