.ads-video {
  background-image: url(../../images/bukhara.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 100px 0 170px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
