/* GLOBAL */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: 1px dashed $primary-text-color;
  outline-offset: 3px;
}

a {
  text-decoration: none;
  display: flex;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: $primary-text-color;
  background-color: $secondary-bg-color;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;

  @media only screen and (max-width: $tablet-l) {
    font-size: 17px;
  }
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 20px;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 110, 110);
  border-radius: 10px;

  &:hover {
    background: rgb(110, 110, 110);
  }
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

// SITENAV STYLES
.logo {
  width: 180px;
  height: 53px;
  transition: opacity 0.4s ease;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.sitenav {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 32px;
  }

  &__link {
    font-family: "Bebas Neue";
    color: $primary-text-color;
    font-size: 24px;
    transition: opacity 0.4s ease;

    &--footer {
      color: $secondary-text-color;
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* BUTTON */
.button {
  padding: 12px 24px;
  font-weight: 400;
  font-family: "Bebas Neue";
  text-align: center;
  display: inline-block;
  cursor: pointer;

  @media only screen and (max-width: $tablet-l) {
    padding: 8px 16px;
  }

  @media only screen and (max-width: $tablet) {
    padding: 7px 14px;
  }
}

/* RETINA DISPLAY */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
