/* GLOBAL */

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

body {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  // color: ;
  display: flex;
  flex-direction: column;
}

/* CONTAINER */
.container {
  width: 100%;
  max-width: $desktop;
  margin: 0 auto;
  padding: 0 20px;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* RETINA DISPLAY */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
}
