.site-footer {
  padding: 40px 0;
  background-color: $primary-bg-color;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $tablet-l) {
      flex-direction: column;
      justify-content: center;
      row-gap: 10px;
    }
  }

  &__copyright {
    font-size: 24px;
    color: $secondary-bg-color;
    font-family: "Bebas Neue";
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin-left: 5px;
      color: $orange-text-color;
    }
  }

  .sitenav {
    &__list {
      @media only screen and (max-width: $mobile) {
        flex-direction: column;
      }
    }

    &__item {
      @media only screen and (max-width: $mobile) {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
