/* FOOTER */
.site-footer {
  padding: 40px 0;
  background-color: $primary-bg-color;

  .sitenav__link {
    color: $secondary-text-color;
  }

  *:focus {
    outline-color: #fff;
  }

  @media only screen and (max-width: $tablet) {
    .sitenav {
      display: none;
    }
  }
}

.site-footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $desktop) {
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
  }
}

.site-footer__copyright {
  font-size: 24px;
  color: $secondary-bg-color;
  font-family: "Bebas Neue";
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin-left: 5px;
    background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 20px;
  }
}
