.hero {
  background: url(../../images/registan.jpeg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 0 300px;
  text-align: center;
  transition: height 0.4s ease, padding 0.4s ease;

  @media only screen and (max-width: $mobile) {
    height: 90vh;
    background-position: center top;
  }

  &__heading {
    font-family: "Rubik";
    font-size: 76px;
    line-height: 1.2;
    letter-spacing: normal;
    text-transform: uppercase;
    color: $secondary-text-color;
    margin-bottom: 24px;
    text-shadow: -1px -1px 35px $primary-text-color,
      -1px -1px 35px $primary-text-color;
    transition: font-size 0.4s ease;

    @media only screen and (max-width: $tablet-l) {
      font-size: 54px;
    }

    @media only screen and (max-width: $tablet) {
      font-size: 44px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 34px;
    }

    span {
      color: $special-text-color;
    }
  }

  &__link {
    color: $secondary-text-color;
    background-color: transparent;
    font-size: 24px;
    border-radius: 50px;
    box-shadow: -1px -1px 35px $primary-text-color;
    transition: color 0.4s ease, background-color 0.4s ease;
    border: 1px solid $secondary-text-color;

    @media only screen and (max-width: $tablet-l) {
      font-size: 20px;
    }

    &:hover {
      color: $special-text-color;
      background-color: #fff;
    }
  }
}
