.news {
  padding: 30px 0;

  &__heading {
    font-family: "Bebas Neue";
    font-size: 44px;
    margin-bottom: 12px;

    @media only screen and (max-width: $tablet-l) {
      font-size: 40px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $tablet) {
      flex-direction: column;
    }
  }

  &__item {
    border: 2px solid $special-bg-color;
    border-radius: 10px;
    padding: 20px;

    @media only screen and (max-width: $tablet-l) {
      padding: 15px;
      border-width: 1px;
    }

    @media only screen and (max-width: $tablet) {
      padding: 20px;
    }

    @media only screen and (max-width: $mobile) {
      padding: 10px;
    }

    &:not(:last-child) {
      margin-right: 16px;

      @media only screen and (max-width: $tablet) {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__card {
    max-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $tablet-l) {
      max-width: 250px;
    }

    @media only screen and (max-width: $tablet) {
      max-width: none;
    }
  }

  .card-news {
    &__image {
      margin-bottom: 6px;
    }

    &__img {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;

      @media only screen and (max-width: $tablet-l) {
        max-height: 100px;
      }

      @media only screen and (max-width: $tablet) {
        max-width: none;
        max-height: 200px;
      }
    }

    &__title {
      font-size: 28px;
      text-align: center;
      margin-bottom: 12px;
      font-family: "Bebas Neue";

      @media only screen and (max-width: $tablet-l) {
        font-size: 20px;
        margin-bottom: 6px;
      }
    }

    &__text {
      text-align: justify;
      margin-bottom: 20px;

      @media only screen and (max-width: $tablet-l) {
        margin-bottom: 15px;
      }
    }

    &__link {
      color: $secondary-text-color;
      background-color: $orange-text-color;
      margin-top: auto;
      font-size: 20px;
      border-radius: 10px;
      margin-right: auto;
      transition: opacity 0.4s ease;

      @media only screen and (max-width: $tablet-l) {
        font-size: 18px;
      }

      @media only screen and (max-width: $tablet) {
        font-size: 16px;
      }

      @media only screen and (max-width: $mobile) {
        margin: 0 auto;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
