/* STATISTICS */
.statistics {
  background: url("../images/tashkent.jpeg") no-repeat center top / cover fixed;
  height: calc(100vh - 82px);
  padding-top: 120px;
  font-family: "Bebas Neue", sans-serif;
  transition: height 0.4s ease, padding 0.4s ease;

  @media only screen and (max-width: $tablet-l) {
    padding-top: 100px;
  }

  @media only screen and (max-width: $mobile) {
    height: 100vh;
    background-position: center top;
    padding-top: 80px;
  }
}

.statistics__heading {
  letter-spacing: 2px;
  font-size: 44px;
  color: $primary-text-color;
  margin-bottom: 70px;
  transition: font-size 0.4s ease;

  @media only screen and (max-width: $tablet-l) {
    font-size: 40px;
  }

  @media only screen and (max-width: $tablet) {
    font-size: 32px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 28px;
    margin-bottom: 30px;
  }
}

.statistics__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 10px;

  @media only screen and (max-width: $tablet-l) {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin: 0 auto;
  }

  @media only screen and (max-width: $mobile) {
    width: auto;
    margin: 0 auto;
  }
}

.statistics__item {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    display: inline-block;
    background: no-repeat center / contain;
    width: 90px;
    height: 90px;
    margin-right: 20px;
  }

  &--population {
    &::before {
      background-image: url(../images/population.png);
    }
  }

  &--gdp {
    &::before {
      background-image: url(../images/gdp.png);
    }
  }

  &--industry {
    &::before {
      background-image: url(../images/industry.png);
    }
  }

  @media only screen and (max-width: $tablet-l) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.statistics__title {
  font-size: 28px;

  @media only screen and (max-width: $tablet-l) {
    font-size: 24px;
  }
}

.statistics__text {
  font-size: 24px;

  @media only screen and (max-width: $tablet-l) {
    font-size: 20px;
  }
}
