.statistics {
  background-image: url(../../images/tashkent.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  padding: 230px 0;
  font-family: "Bebas Neue", sans-serif;
  transition: height 0.4s ease, padding 0.4s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 150px 0;
  }

  @media only screen and (max-width: $mobile) {
    height: 90vh;
    background-position: center top;
    padding: 100px 0;
  }

  &__heading {
    letter-spacing: 2px;
    font-size: 44px;
    transform: translateY(-170px);
    color: $primary-bg-color;
    text-shadow: -1px -1px 35px $secondary-text-color;
    transition: font-size 0.4s ease;

    @media only screen and (max-width: $tablet-l) {
      font-size: 40px;
      transform: translateY(-130px);
    }

    @media only screen and (max-width: $tablet) {
      font-size: 32px;
    }

    @media only screen and (max-width: $mobile) {
      font-size: 28px;
      transform: translateY(0);
      margin-bottom: 30px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $tablet-l) {
      flex-direction: column;
      align-items: flex-start;
      width: 60%;
      margin: 0 auto;
    }

    @media only screen and (max-width: $mobile) {
      width: auto;
      margin: 0 auto;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $tablet-l) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    &--population {
      &::before {
        background: url(../../images/population.png);
      }
    }

    &--gdp {
      &::before {
        background: url(../../images/gdp.png);
      }
    }

    &--industry {
      &::before {
        background: url(../../images/industry.png);
      }
    }
    &::before {
      content: "";
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 90px;
      height: 90px;
      margin-right: 14px;
    }
  }

  &__title {
    font-size: 28px;

    @media only screen and (max-width: $tablet-l) {
      text-shadow: -1px -1px 35px $secondary-text-color,
        -1px -1px 35px $secondary-text-color;
    }
  }

  &__text {
    font-size: 24px;

    @media only screen and (max-width: $tablet-l) {
      text-shadow: -1px -1px 35px $secondary-text-color,
        -1px -1px 35px $secondary-text-color;
    }
  }
}
